<div class="container-fluid pt-2">
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-3">
            <div class="contact-form">
                <form>
                    <div class="control-group">
                        <input  type="text" [(ngModel)]="cont.name" name="name" class="form-control" id="name" placeholder="Your Name"/>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input [(ngModel)]="cont.email" name="email" type="email" class="form-control" id="email" placeholder="Your Email"/>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input [(ngModel)]="cont.subject" name="subject" type="text" class="form-control" id="subject" placeholder="Subject"/>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea [(ngModel)]="cont.message" name="message" class="form-control" rows="6" id="message" placeholder="Message"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button [disabled]="(cont.name == '' || cont.email == '') || cont.subject == '' || cont.message == '' " (click)="envoyer()" class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Send
                            Message</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5">
            <h5 class="font-weight-semi-bold mb-3">Get In Touch</h5>
            <p>You can send us a message or you can visit our stores here: </p>
            <div class="d-flex flex-column mb-3">
                <h5 class="font-weight-semi-bold mb-3">Store 1</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Beb Saadoun, Tunis</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+216 22 222 222</p>
            </div>
            <div class="d-flex flex-column">
                <h5 class="font-weight-semi-bold mb-3">Store 2</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Ksar Bardo, Beja</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+216 33 333 333</p>
            </div>
        </div>
    </div>
</div>