<h1 class="text-danger"> INBOX </h1>
<p class="lead">You have <label class="text-danger">{{nb}}</label> message(s) in your inbox</p>

<div class="row mt-3">
    <table class="table">
        <thead>
            <tr class="text-primary">
                <th class="w1">#</th>
                <th class="w2">Name</th>
                <th class="w3">E-mail</th>
                <th class="w4">Subject</th>
                <th class="w-25">Details</th>
                <th class="w6">Options</th>
            </tr>
        </thead>
        <tfoot>
            <tr class="text-primary">
                <th class="w1">#</th>
                <th class="w2">Name</th>
                <th class="w3">E-mail</th>
                <th class="w4">Subject</th>
                <th class="w-25">Details</th>
                <th class="w6">Options</th>
            </tr>
        </tfoot>
        <tbody>
            <tr *ngFor="let item of msg ; let i = index">
                <th class="w1">{{i+1}}</th>
                <th class="w2">{{item.name}}</th>
                <th class="w3">{{item.email}}</th>
                <th class="w4">{{item.subject}}</th>
                <th class="w-25">{{item.message}}</th>
                <th class="w-6">
                    <button class="btn btn-info" data-toggle="modal" data-target="#answer" (click)="answer(item._id)"> Answer </button>
                    <button class="btn btn-danger" (click)="delete(item._id)" > Delete </button>
                </th>  
            </tr>           
        </tbody>
    </table>

</div>


<!-- Modal -->
<div class="modal fade" id="answer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-info" id="exampleModalLabel">Answering  </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <p class="m-1 text-primary"> E-mail </p>
            <input  type="email" [(ngModel)]="email" name="email" class="form-control" id="email" placeholder="e-mail"/>

            <p class="m-1 text-primary">Subject</p>
            <input  type="text" [(ngModel)]="subject" name="subject" class="form-control" id="subject" placeholder="subject"/>

            <p class="m-1 text-primary">Text</p>
            <textarea name="answer" class="form-control" id="answer" rows="5" placeholder="Type your answer here"></textarea>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary ml-3">Send</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>