<div class="container-fluid pt-2">
    <div class="row px-xl-5">
        <div class="col-lg-8 my-4  mx-auto">
            <div class="contact-form">
                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                    <div class="control-group">
                        <input [(ngModel)]="prod.titre" type="text"  name="name" class="form-control p-4 my-4" id="name" placeholder="Product name"/>
                        <p class="help-block text-danger"></p>                    
                    </div>
                    <div class="control-group">
                        <input [(ngModel)]="prod.prix" type="number"  name="price" class="form-control p-4 my-4" id="price" placeholder="Product price"/>
                        <p class="help-block text-danger"></p>                    
                    </div>

                    <div class="control-group">
                        <input [(ngModel)]="prod.stock" type="number" name="Quantity" class="form-control p-4 my-4" id="Quantity" placeholder="Quantity"/>
                        <p class="help-block text-danger"></p>
                    </div>

                    <div class="control-group">
                        <textarea [(ngModel)]="prod.description" type="text" class="form-control p-4 my-4 " name="description" id="description" placeholder="Product description"></textarea>
                    </div>

                    <div>
                        <select [(ngModel)]="prod.categorie" name="categories" id="categories" class="p-4 w-100">
                            <option value="" >-- Choose a categorie --</option>
                            <option value="men clothes">Men's clothes</option>
                            <option value="women clothes">Women's clothes</option>
                            <option value="baby clothes">Baby's clothes</option>
                            <option value="accessories">Accessories</option>
                            <option value="bags">Bags</option>
                        </select>
                    </div>
                    <div>
                        <input (change)="select($event)" type="file" name="image" class="py-3 my-4" id="image"/>
                    </div>
                    <div class="text-center">
                        <button (click)="ajout()" class="btn btn-primary p-2 my-2" type="submit" id="save"> SAVE THE NEW PRODUCT </button>
                    </div>

                </form>
            </div>
        </div>